# PostgreSQL
DB_NAME=briefai
DB_USERNAME=<<DB_USER>>
DB_PASSWORD=<<DB_PASSWORD>>

# JWT
JWT_SECRET_KEY=<<JWT_KEY>>

# Email / OTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<<GOOGLE_EMAIL_FOR_OTP>>
MAIL_PASSWORD=<<APP_PASSWORD_FOR_EMAIL>>
MAIL_FROM=<<GOOGLE_EMAIL_FOR_OTP>>

#CORS
# Port on which your frontend is running
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000